* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    max-height: 9vh;
    background: darkgray;
    justify-content: space-between;
    box-shadow: 1px 0 6px rgba(0, 0, 0, 0.4);
}

.containerLogoForum, .containerMenu {
    display: flex;
    align-items: center;
    text-align: center;
}

.containerMenu, .containerBurger {
    box-shadow: 1px 0 6px rgba(0, 0, 0, 0.4);
}

.logotype {
    width: 20%;
}

.divLogoForum {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
}

.logotype img {
    width: 90%;
}

.divMenu {
    display: flex;
    width: 100%;
    align-items: center;
    height: 100%;
    padding: 0 15px;
}


.containerLogoPulv {
    display: flex;
    align-items: center;
}

.containerLogoPulv img {
    width: 20%;
    margin: auto;
}

.forumAsso, .categoriesSpan {
    font-size: 1vw;
    font-weight: revert;
    color: #fff;
}

.forumAsso {
    border-left: 1px solid white;
    padding: 10px 15px;
}

.categoriesSpan {
    padding: 10px 0;
}

.categoriesSpan {
    color: #e74111;
}

.categoriesSpan, .forumAsso {
    text-align: center;
}

.containerBurger {
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contentBurger {
    display: flex;
    height: 30%;
    flex-direction: column;
    justify-content: space-around;
    border-left: 1px solid white;
    padding: 10px 0;
}

.contentBurger div {
    width: 50%;
    margin: 0 auto;
    height: 2px;
    background: #e74111;
}

.containerLogoForum, .containerLogoPulv, .containerMenu {
    width: 33%;
}

.containerDiscord {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    margin-right: 50px;
}

.categoriesSpan {
    width: 52%;
    margin-right: 15px;
}

.containerLogoDiscord {
    width: 66%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
}

.contentBurger, .containerLogoDiscord {
    border-left: 1px solid white;
}

.containerDiscord img {
    width: 100%;
    border-radius: 90%;
}

@media (max-width: 768px) {
    .forumAsso, .categoriesSpan, .containerDiscord {
        display: none;
    }

    .containerMenu, .containerLogoForum, .containerLogoPulv {
        width: 10%;
        display: flex;
        justify-content: center;
    }

    .logotype {
        width: 100%;
    }

    .logotype img, .containerLogoPulv img {
        width: 100%;
    }


    .containerMenu div {
        width: 75%;
    }

    .divMenu {
        padding: 0;
    }

    .contentBurger {
        border: none;
    }

    .containerMenu, .containerBurger {
        box-shadow: none;
    }

}
