* {
    margin: 0;
    padding: 0;
}

*::selection {
    color: #e74111;
}

<<<<<<< HEAD
* span::selection, * h2::selection{
=======
* span::selection{
>>>>>>> 57af438063de5fe91ec1d2923a1f90269f541db5
    color: #EDEDED;
}

main {
    background: #1A1A1A;
}

header {
    display: flex;
    background: #2E2E2E;
    justify-content: space-between;
    max-height: 7vh;
    box-shadow: 0 3px 18px rgba(0, 0, 0, 0.27);
}

.containerLogoForum, .containerMenu {
    display: flex;
    align-items: center;
    text-align: center;
}

.containerMenu, .containerBurger {
    box-shadow: 0 3px 18px rgba(0, 0, 0, 0.27);
}

.logotype {
    width: 20%;
}

.divLogoForum {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
}

.logotype img {
    width: 90%;
}

.divMenu {
    display: flex;
    width: 100%;
    align-items: center;
    height: 100%;
    padding: 0 15px;
}


.containerLogoPulv {
    display: flex;
    align-items: center;
}

.containerLogoPulv img {
    width: 20%;
    margin: auto;
}

.forumAsso, .categoriesSpan {
    font-size: 1vw;
    font-weight: revert;
    color: #EDEDED;
}

.forumAsso {
    border-left: 1px solid #EDEDED;
    padding: 10px 15px;
}

.categoriesSpan {
    padding: 10px 0;
}

.categoriesSpan {
    color: #e74111;
}

.categoriesSpan, .forumAsso {
    text-align: center;
}

.containerBurger {
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contentBurger {
    display: flex;
    height: 30%;
    flex-direction: column;
    justify-content: space-around;
    border-left: 1px solid #EDEDED;
    padding: 10px 0;
    cursor: pointer;
}

.contentBurger div {
    width: 1.8vw;
    margin: 0 auto;
    height: 0.2vw;
    background: #e74111;
}

.containerLogoForum, .containerLogoPulv, .containerMenu {
    width: 33%;
}

.containerDiscord {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    margin-right: 50px;
}

.categoriesSpan {
    width: 52%;
    margin-right: 15px;
}

.containerLogoDiscord {
    width: 66%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
}

.contentBurger, .containerLogoDiscord {
    border-left: 1px solid #EDEDED;
}

.containerDiscord img {
    width: 100%;
    border-radius: 90%;
}

.containerResponsiveMenu {
    display: none;
}

/**.containerResponsiveMenu {
    display: block;
    position: absolute;
    top:8.5vh;
    background: #2E2E2E;
    padding: 5px 15px 0 15px;
}

.containerResponsiveMenu ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 15vh;
}

.containerResponsiveMenu li {
    list-style: none;
    text-align: left;
    color: #EDEDED;
}*/

.containerResponsiveMenu {
    display: none;
    background: #2E2E2E;
    height: 100vh;
    top: 0;
    left: 0;
    min-width: 100%;
    position: fixed;

}

.out {
    display: block !important;
    transform: translate3d(110%, 0, 0);
    animation: test 0.5s ease-in-out;
    opacity: 1;
    transition: all 0.5s;
}

.block {
    display: block !important;
    transform: translate3d(0, 0, 0);
    animation: test 0.5s ease-in-out;
    opacity: 1;
}

@keyframes test {
    from {
        opacity: 0;
        transform: translate3d(110%, 0, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.containerResponsiveMenu nav {
    height: 100%;
}

.containerResponsiveMenu nav ul {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
}

.containerResponsiveMenu nav ul li {
    list-style: none;
    text-align: center;
    font-size: 5vw;
    color: #EDEDED;
    width: fit-content;
    margin: 0 auto;
    -webkit-text-fill-color: rgba(231, 65, 17, 0); /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ededed;
    transition: 1s;
}

.containerResponsiveMenu nav ul li:hover {
    -webkit-text-fill-color: #e74111;
    -webkit-text-stroke-color: #e74111;
    transition: 1s;
}

<<<<<<< HEAD
=======

>>>>>>> 57af438063de5fe91ec1d2923a1f90269f541db5
a {
    width: fit-content;
    margin: 0 auto;
}

.cross {
    position: absolute;
    font-size: 8vw;
    top: 3vh;
    z-index: 7000;
    right: 3vw;
    color: #EDEDED;
    transition: color 0.2s;
    cursor: pointer;
}

.cross:hover {
    color: #e74111;
    transition: 0.2s;
}

footer {
    width: 100%;
    height: 10vh;
    background: #2E2E2E;
    display: flex;
<<<<<<< HEAD
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.16);
=======
>>>>>>> 57af438063de5fe91ec1d2923a1f90269f541db5
    justify-content: space-around;
}

footer li {
    list-style: none;
    color: #EDEDED;
    margin: 10px 0;
}

.containerSchoolLogo img {
    min-width: 25%;
    background: #EDEDED;
    border-radius: 90%;
}

.containerPulvSocialNetworks, .containerCgu, .containerSchoolLogo {
    width: 33%;
    text-align: center;
    display: flex;
    align-items: center;
}

.containerCgu ul {
    margin: auto;
    text-align: center;
}

@media (max-width: 1024px) {
    header {
        padding-bottom: 2vh;
    }
}

@media (min-width: 320px) and (max-width: 425px) {
    .cross {
        top: 1vh;
        right: -10vh;
    }
}

@media (min-width: 1025px) and (max-width: 1440px) {
    header {
        padding-bottom: 3vh;
    }
}

@media (min-width: 421px) and (max-width: 768px) {
    .cross {
        top: 1vh;
        right: -14vh;
    }
}


@media (max-width: 768px) {
    header {
        padding-bottom: 1vh;
    }


    .forumAsso, .categoriesSpan, .containerDiscord {
        display: none;
    }

    .containerMenu, .containerLogoForum, .containerLogoPulv {
        width: 10%;
        display: flex;
        justify-content: center;
    }

    .logotype {
        width: 100%;
    }

    .logotype img, .containerLogoPulv img {
        width: 100%;
    }

    .containerMenu div {
        width: 75%;
    }

    .divMenu {
        padding: 0;
    }

    .contentBurger {
        border: none;
    }

    .containerMenu, .containerBurger {
        box-shadow: none;
    }
}

/*
Global Font Color etc...
*/

h1, h2, h3, p, span, .navSpan, li, a, strong {
    font-family: 'Montserrat', sans-serif;
}

strong {
    font-size: 1vw;
}

.navSpan, li, a, span, h1, strong {
    font-weight: bold;
    font-size: 0.9vw;
}

<<<<<<< HEAD
h1, h3, p, strong {
    color: #EDEDED;
    font-size: 1vw;
=======
h1, h2, h3, p, strong {
    color: #EDEDED;
>>>>>>> 57af438063de5fe91ec1d2923a1f90269f541db5
}

a:visited {
    color: #2E2E2E;
}

a:not(:visited) {
    color: #2E2E2E;
}

<<<<<<< HEAD
span, h2{
    color: #e74111;
}

span{
    font-size: 1vw;
}

h2{
    font-size: 1.5vw;
}
=======
span {
    color: #e74111;
}
>>>>>>> 57af438063de5fe91ec1d2923a1f90269f541db5
