.titleSection {
    margin: 0 auto;
}


.keyNumbersSection, .titleSection {
    width: 70%;
    margin: 0 auto;
}


.keyNumbersSection ol {
    width: 85%;
    display: flex;
    text-align: center;
    justify-content: space-around;
}

.keyNumbersSection ol span {
    font-size: 3vw;
}

.keyNumbersSection ol li {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.titleSection h1 {
    width: 50%;
    font-size: 5vw;
    max-height: 40vh;
    margin: 1vw 0;
}

@media (max-width: 1440px) and (min-width: 769px) {
    .titleSection h1 {
        margin: -2vw 0;
    }
}

@media (min-width: 319px) and (max-width: 376px) {
    .keyNumbersSection {
        margin-top: 3vw;
    }

    .titleSection h1 {
        padding: 3vw 0;
    }

}

.titleSection strong {
    font-size: 2vw;
}

.titleSection span {
    font-size: 2vw;
}

.boldText {
    font-weight: bold;
    font-size: 0.8vw;
}

@media (max-width: 768px) {
    .boldText {
        font-size: 1.5vw;
    }

    .titleSection h1 {
        margin: -1vh 0;
    }

    .sectionPresentation {
        margin: 1.5vh auto 2.5vh auto !important;
    }

}

.positionText {
    position: relative;
    bottom: 3vw;
    border-bottom: 1px solid #2E2E2E;
    padding-bottom: 10px;
    z-index: 0;
}

.sectionPresentation {
    width: 70%;
    margin: 30px auto 45px auto;
}
