.titleSection {
    width: 70%;
    margin: 0 auto 1vw auto;
}

.titleSection h1 {
    width: 40%;
    font-size: 4vw;
    padding-bottom: 2vw;
    border-bottom: 1px solid #2E2E2E;
}


.duSpan {
    color: #EDEDED;
}

.titleSection span {
    font-size: 2vw;
}


.keyNumbersSection, .titleSection {
    width: 70%;
}


.keyNumbersSection {
    margin: 0 auto 3vw auto;
}


.keyNumbersSection ol {
    width: 85%;
    display: flex;
    text-align: center;
    justify-content: space-around;
}

.keyNumbersSection ol span {
    font-size: 3vw;
}

.keyNumbersSection ol li {
    list-style: none;
    display: flex;
    flex-direction: column;
}


@media (min-width: 319px) and (max-width: 376px) {
    .keyNumbersSection {
        margin-top: 3vw;
    }


}


.boldText {
    font-weight: bold;
    font-size: 0.8vw;
}

.sectionPresentation span {
    font-size: 0.9vw;
}


@media (max-width: 768px) {
    .boldText {
        font-size: 1.5vw;
    }


    .sectionPresentation {
        margin: 1.5vh auto 2.5vh auto !important;
    }

}

.positionText {
    padding-bottom: 1vw;
    border-bottom: 1px solid #2E2E2E;
    z-index: 0;
}

.sectionPresentation {
    width: 70%;
    margin: 30px auto 45px auto;
}


.videoSection {
    display: flex;
    justify-content: center;
}

.videoSection iframe {
    border-radius: 10px;
    width: 60vw;
    height: 35vw;
}

.discordSectionHome {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 3vw 0 0 0;
    padding: 1vw 0;
    background: #212121;
    box-shadow: 0 -5px 8px rgba(0, 0, 0, 0.16);
    text-align: center;
    height: 18vh
}

.buttonDiscord {
    transition: 0.2s;
}

.discordSectionHome h2 {
    font-size: 1.5vw;
}

.discordSectionHome p, .discordSectionHome span {
    font-size: 1vw;
}

.discordSectionHome span {
    font-weight: bold;
}

.buttonDiscord:hover {
    box-shadow: 0 0 5px rgba(231, 65, 17, 0.8);
    text-shadow: 0 0 1px rgba(231, 65, 17, 1);
    transition: 0.3s;
}

.bounce {
    color: #e74111;
    animation: bounce 6s ease-in-out infinite;
    transition: all 0.3s;
}

@keyframes bounce {
    0% {
        position: relative;
        bottom: 0;
        text-shadow: 0 0 4px rgba(231, 65, 17, 0.5);
    }

    6% {
        bottom: 0.7vw;
    }

    12% {
        position: relative;
        bottom: 0;
    }

    18% {
        bottom: 0.7vw;
    }

    25% {
        bottom: 0;
        text-shadow: 0 0 1px #e74111;
    }

    100% {
        text-shadow: none;
        position: relative;
        bottom: 0;
    }
}

